<!--Footer-->
<footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
    <!--Footer Links-->
<!--    <div class="container pt-5 mb-5">-->
<!--        <div class="row">-->
            <!--First column-->
<!--            <div class="col-md-6 col-lg-3 col-xl-3 footer-contact-widget">-->
<!--                <h2 class="footer-title">About</h2>-->
<!--                <p>Online Movie Ticket Booking.</p>-->
                {{!-- <ul>
                    <li>
                        <a href="#"><i class="mdi mdi-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-github-circle"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-linkedin"></i></a>
                    </li>
                </ul> --}}
<!--            </div>-->
            <!--/.First column-->

            <!--Second column-->

            <!--/Second column-->
<!--        </div>-->
<!--    </div>-->
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2021 Catch Movies in Action, All rights reserved. Designed with <i
                            class="mdi mdi-heart"></i> by Group #5</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->

<!-- Back To Top -->
<a href="#" aria-label="back-to-top" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up">
    </i>
</a>

<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
