<!--<div class="col-3">-->
<!--    <div class="card card-block card-1">-->
<!--        <p class="para">{{genre.name}}</p>-->
<img class="card-img-top genre-card"
     onclick="genreClick('{{genre.name}}')"
     src="{{genre.images }}"
     alt="{{genre.name}}">
<!--    </div>-->
<!--</div>-->

