<!--<div >-->
<!--    <div class="card card-block card-1" >-->
<img class=" top-card"
     onclick="openMovie('{{movie.movieId}}')"
     src="{{getObjectFromArray movie.images 0 "mainImg"}}"
     alt="{{movie.movieName}}">
<!--    </div>-->
<!--</div>-->